// Variables

$dark-background: rgb(20, 20, 20);
$main-text-color: rgb(255, 255, 255);
$primary-color: rgb(0, 255, 255);
$transition-300ms: 300ms ease-in-out;

// Variable Group

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// General

html,
body {
  background-color: $dark-background;
  color: $main-text-color;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

// Navbar

.navbar {
  backdrop-filter: blur(1rem);
}

.navbar-logo,
.nav-link {
  color: $main-text-color;
  transition: $transition-300ms;
}

.navbar-logo {
  font-size: 1.85rem;
  text-decoration: none;
}

.navbar-logo:hover,
.nav-link:hover,
.navbar-logo:focus,
.nav-link:focus {
  color: $primary-color;
}

.nav-contact {
  border-radius: 0.25rem;
  border: 1px solid $primary-color;
}

.nav-contact:hover {
  background-color: $primary-color;
  color: $main-text-color;
}

.nav-toggle {
  color: white;
  cursor: pointer;
}

// Hero

.hero {
  height: 100vh;
  overflow-x: hidden;
  display: flex;
}

.hero-video {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.hero-quote-div {
  position: absolute;
  z-index: 2;
  top: 46%;
  left: 50%;
  transform: translate(-50%);
  width: fit-content;
}

.hero-quote-div:hover {
  .quote-1,
  .quote-2 {
    transform: rotate3d(0, 0, 0, 0) translateX(0);
  }
}

.hero-quote {
  display: inline-flex;
  margin: 0 4rem;
  font-size: 3rem;
  transition: $transition-300ms;
  cursor: default;
}


.quote-1 {
  transform: rotate3d(0, 1, 0, 28deg) translateX(-50px);
}

.quote-2 {
  transform: rotate3d(0, 1, 0, -28deg) translateX(50px);
}

// Sections

.section-title {
  font-size: 2rem;
  padding: .5rem;
  padding-top: 1rem;
  position: relative;
}

.section-title::before {
  content: '';
  width: 4rem;
  height: 3px;
  background-color: $primary-color;
  position: absolute;
  bottom: 0;
  left: 0;
}

// About

// Media Queries

@media (max-width: 992px) {
  .hero-quote {
    font-size: 2.5rem;
  }
  .quote-1 {
    transform: rotate3d(0, 1, 0, -28deg) translateX(-30px);
  }
  .quote-2 {
    transform: rotate3d(0, 1, 0, -28deg) translateX(30px);
  }
}

@media (max-width: 768px) {
  .hero-quote {
    margin: 0;
  }
}

@media (max-width: 576px) {
  .hero-quote {
    font-size: 1.5rem;
  }
}

// Scrollbar

::-webkit-scrollbar {
  display: none;
}